ENVIRONMENT = dev

SECURITY_SECRET_KEY = "_CHANGE_THIS_"
SECURITY_ACCESS_TOKEN_EXPIRE_SECONDS = 604800

POSTGRES_HOST = todo_postgres
POSTGRES_DB = todo_database
POSTGRES_USER = postgres
POSTGRES_PASSWORD = "_CHANGE_THIS_"

RABBITMQ_HOST = todo_rabbitmq
RABBITMQ_VIRTUAL_HOST = todo_host
RABBITMQ_USER = rabbitmq
RABBITMQ_PASSWORD = "_CHANGE_THIS_"

EMAIL_FROM_EMAIL = "noreply@fastapi-todo-rest.com"
EMAIL_FROM_NAME = "The todo app"

SMTP_DO_USE_TLS = False
SMTP_PORT = 1025
SMTP_HOST = todo_mailhog
SMTP_USER =
SMTP_PASSWORD =

FLOWER_USER = todo_user
FLOWER_PASSWORD = "_CHANGE_THIS_"

DOCKER_USER_UID = 1000
DOCKER_USER_GID = 1000
